<div class="page-header">
	<h1>{{ page.title }}</h1>
	<p>
		<span class="glyphicon glyphicon-time"></span> Posted at &nbsp; {{ page.date | date: "%Y-%m-%d" }} &nbsp; &nbsp; by  <a href="/about.html"><strong>{{ site.author.name }}</strong></a> &nbsp; &nbsp; {% for tag in page.tags %}<span class="glyphicon glyphicon-tag"></span><a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag | cgi_escape }}" rel="nofollow">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
	</p>
</div>

<div class="col-md-10">
	<div class="post paper">
		{{ content }}
	</div>

	<div align="right">
        {% include bo/share %}
	</div>

	<!-- page link -->
    <div class="pager">
      <ul>
      {% if page.previous %}
        <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="previous disabled"><a>&larr; Previous</a></li>
		{% endif %}

      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>

	<center>{% include bo/adsense_728x90 %}</center>

    <div class="well">
		{% include JB/comments %}
    </div>
</div>

<div class="col-md-2">

    {% include bo/adsense_160x600 %}

	<div class="well">
		<h4>Visitors</h4>
		<div class="tag_box">
			{% include bo/revolvermaps_small %}	
		</div>
	</div>

</div>

{% assign tags_list = page.tags %}
