---
layout: page
title: "About"
tagline: ""
description: ""
group: "navigation"
---

<div class="col-md-9">
<div class="post paper">

<p>
<center>
	<img src="{{ site.url }}/assets/docs/bo_cocoabeach.png" alt="Morning in Cocoa Beach" width="600" height="180"> 
</center>	
</p>
<p></p>
<p>My name is Bo Yang(杨博), a programmer who has touched a variety of topics like Linux/Unix/Plan 9, Distributed Systems, Networking, Machine Learning, Computer Vision and Bioinfomatics. Currently I am focusing on Linux system and WLAN.</p>

For years, I have tried my best to pretend to be dull and professional, especially in my blog. However, in case you want to know the other sides of me:
<br>
<p>
<ul>
	<li><a href="https://www.linkedin.com/pub/bo-yang/21/a3/893" target="_blank"><i class="fa fa-linkedin fa-2x"></i>&nbsp;</a> &nbsp;&nbsp;
	<a href="https://github.com/bo-yang" target="_blank"><i class="fa fa-github fa-2x"></i>&nbsp;</a> &nbsp;&nbsp;
	<a href="https://www.facebook.com/bo.yang.52493" target="_blank"><i class="fa fa-facebook fa-2x"></i>&nbsp;</a>&nbsp;&nbsp;
	<a href="https://twitter.com/bonnyang" target="_blank"><i class="fa fa-twitter fa-2x"></i>&nbsp;</a>&nbsp;&nbsp;
	<a href="http://www.weibo.com/bonnyang" target="_blank"><i class="fa fa-weibo fa-2x"></i>&nbsp;</a></li>
	<li><a href="http://blog.csdn.net/bonny95">My CSDN Chinese Blog</a></li>
	<li><a href="mailto:bonny95@gmail.com"><i class="fa fa-envelope fa-2x"></i>&nbsp;bonny95 (at) gmail.com</a></li>
</ul>

<p>
<p>
<p>
<p></p>
<center>
<p>
<p><i>
Do not go gentle into that good night,<br>
Old age should burn and rave at close of day;<br>
Rage, rage against the dying of the light.<br>
</i></p>
<p><i>
Though wise men at their end know dark is right,<br>
Because their words had forked no lightning they<br>
Do not go gentle into that good night.<br>
</i></p>
</center>
<p></p>

<p>
<p>
<center>
<p>
<p><i>
	细草微风岸，危樯独夜舟。<br>
	星垂平野阔，月涌大江流。<br>
	名岂文章著，官应老病休。<br>
	飘飘何所似？天地一沙鸥。<br>
</i></p>
</center>
<p></p>
</div>
</div>

<div class="col-md-3">
	<div class="well">
		<h4>Visitors</h4>
		{% include bo/revolvermaps %}	
    </div>
</div>

{% include bo/analytics %}
