---
layout: page
title: "Tags"
header: Posts By Tag
group: no-navigation
---
{% include JB/setup %}

<ul class="tag_box">
	<!--{% assign tags_list = site.tags %}-->
  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
	<!-- site_tags: {{ site_tags }} -->
  {% assign tags_list = site_tags | split:',' | sort %}
  {% include bo/tags_list %}
</ul>

{% for tag in site.tags %} 
  <h3 id="{{ tag[0] }}-ref">{{ tag[0] }}</h3>
  <ul class="post">
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
</ul>
{% endfor %}

{% include bo/tab_select %}
