---
layout: page
title: "Tags"
header: Posts By Tag
group: navigation
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

<div class="col-md-10">
<div class="post paper">
  <h2>Tags</h2>
  <ul class="nav nav-pills">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word | cgi_escape }}">{{ this_word }} <span class="badge">{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
  </ul>

  {% include bo/revenuehits_728x90 %}

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
  <ul class="posts">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
    <li itemscope><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
  </ul>
  {% endunless %}{% endfor %}
</div>
{% include bo/revenuehits_728x90 %}
</div>

<div class="col-lg-2">
	{% include bo/revenuehits_160x600 %}
	{% include bo/bidvertiser_160x600 %}
	{% include bo/amazon_160x600 %}
	<div class="well">
		<h4>Visitors</h4>
		<div class="tag_box">
			{% include bo/revolvermaps_small %}	
		</div>
	</div>
</div>
