<div>
    <ul class="pager">
    {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
            <li class="previous"><a href="{{ site.baseurl }}/">&larr; {{ site.text.pagination.newer }}</a></li>
        {% else %}
            <li class="previous"><a href="{{ paginator.previous_page_path }}">&larr;  {{ site.text.pagination.newer }}</a></li>
        {% endif %}
    {% else %}
        <li class="previous disabled"><a>&larr; {{ site.text.pagination.newer }}</a></li>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path }}">{{ site.text.pagination.older }} &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a>{{ site.text.pagination.older }} &rarr;</a></li>
    {% endif %}
    </ul>
</div>
