<div class="social-icons">
  <div class="social-icons-right">
    {% if site.github_username %}
      <a class="fa fa-github fa-2x" href="https://github.com/{{ site.github_username }}"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fa fa-bitbucket fa-2x" href="https://bitbucket.org/{{ site.bitbucket_username }}"></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a class="fa fa-stack-overflow fa-2x" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a>
    {% endif %}
    <a class="fa fa-rss fa-2x" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
    {% if site.twitter_username %}
      <a class="fa fa-twitter fa-2x" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.skype_username %}
      <a class="fa fa-skype fa-2x" href="skype:{{ site.skype_username }}?userinfo"></a>
    {% endif %}
    {% if site.steam_nickname %}
      <a class="fa fa-steam-square fa-2x" href="http://steamcommunity.com/id/{{ site.steam_nickname }}"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus fa-2x" href="https://plus.google.com/{{ site.google_plus_id }}/posts"></a>
    {% endif %}
    {% if site.email %}
      <a class="fa fa-envelope fa-2x" href="mailto:{{ site.email }}"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fa fa-angellist fa-2x" href="https://angel.co/{{ site.angellist_username }}"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fa fa-medium fa-2x" href="https://medium.com/@{{ site.medium_id }}"></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin fa-2x" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal fa-2x" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
