<html>

{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-9">
            <div class="article">
                <div class="well">
                    <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
                    <p class="post-meta">{{ post.date | date: site.date_format }}</p>
                    {% if site.comments and page.comments %}
                    {% if site.disqus != '' %}
                    <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>
                    {% elsif site.isso != '' %}
                    <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
                    {% endif %}
                    {% endif %}
                    <div class="post-content">
                        {{ content }}
                    </div>
                </div> <!-- end of div "well" -->

                {% include bo/share %}
                <center>{% include bo/adsense_728x90 %}</center>

                <!-- pagination -->
                <div>
                    <ul class="pager">
                        {% if page.next %}
                        <li class="previous"><a href="{{ site.baseurl}}{{ page.next.url }}" class="next">&larr; {{ site.text.pagination.newer }}</a></li>
                        {% else %}
                        <li class="previous disabled"><a class="next">&larr; {{ site.text.pagination.newer }}</a></li>
                        {% endif %}
                        {% if page.previous %}
                        <li class="next"><a href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">{{ site.text.pagination.older }} &rarr;</a></li>
                        {% else %}
                        <li class="next disabled"><a class="previous">{{ site.text.pagination.older }} &rarr;</a></li>
                        {% endif %}
                    </ul>
                </div>

                <!-- Disqus -->
                {% if site.disqus_shortname %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname  = '{{ site.disqus_shortname }}';
                    var disqus_identifier = '{{ page.id }}';
                    var disqus_title      = '{{ page.title }}';
                    
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                     })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}

                {% if site.facebook_comments %}
                <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="{{ site.facebook_comments_number }}"></div>
                {% endif %}

                <!-- Related posts -->
                {% if site.show_related_posts %}
                <h3>{{ site.text.post.related_posts }}</h3>
                {% for post in site.related_posts %}
                <div class="post">
                    <ul class="list-nobull">
                        <li itemscope>
                            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                            <h5 class="post-title">{{ post.title }}</h5>
                            <p class="post-summary">{{ post.summary }}</p>
                            </a>
                       </li>
                    </ul>
                </div>
                {% endfor %}
                {% endif %}

            </div> <!-- end of div "article" -->
        </div> <!-- end of div "col-md-9" -->

        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
    </div> <!-- end of div "row" -->
</div>

{% include disqus-comments.html %}
{% include footer.html %}

</body>
</html>
